body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  header {
    background-color: rgb(9, 137, 217);
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 88px;
    padding: 0 25px;
  }
  nav {
    display: flex;
  }
  nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  nav ul li {
    list-style: none;
    padding: 0 23px;
  }
  nav ul li a{
    color:white;
    text-decoration-line: none;
  }
  nav ul li a:hover {
    font-weight: bold;
  }
  main {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    /* background-image: url('bimg.jpg'); */
    background-size: cover;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .red-border {
    border: 2px solid red;
  }
  
  .container-contact {
    display: flex;
    background-color: white;
    justify-content: center;
    align-content: center;
    margin: 20vh;
    width: 35vw;
    height: 60vh;
    border: 2px solid rgb(7, 221, 7);
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    color: black;
  }
  .question {
    font-size: 4vh;
    margin: 4vh auto;
  }
  .fill {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .fill input {
    font-family: "Lato", sans-serif;
    height: 5vh;
    width: 25vw;
    margin: 1vh auto;
    /* margin: 0 18px 0 50px; */
      padding: 0 10px;
  }
  .submit {
    display: flex;
    justify-content: center;
    margin: 3vh auto -1vh;
  }
  .submit input {
    height: 5vh;
    width: 20vw;
    margin: 0 18px 0 50px;
    padding: 0 10px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 137, 217);
    color: white;
    height: 40px;
    font-family: "Lato", sans-serif;
  }